{
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4,
        "semi": true
      }
    },
    {
      "files": "*.js",
      "options": {
        "tabWidth": 4,
        "semi": true,
        "singleQuote": false,
        "printWidth": 200
      }
    },
    {
      "files": ["*.php"],
      "options": {
        "tabWidth": 4,
        "semi": true,
        "singleQuote": false,
        "braceStyle": "1tbs"
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4,
        "semi": true,
        "singleQuote": false
      }
    }
  ]
}
