Note this is an example of a prettierrv file with multiple languages. You can add as many languages as you want.
override the files with the language you want to format and add the options you want to use.

You no longer need to have multiple .prettierrc files for different languages. You can now have a single .prettierrc file with multiple languages.

{
  "plugins": ["@prettier/plugin-php", "@prettier/plugin-lua"],
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "tabWidth": 2,
        "semi": true,
        "singleQuote": false
      }
    },
    {
      "files": ["*.php"],
      "options": {
        "tabWidth": 2,
        "semi": true,
        "singleQuote": false
      }
    },
    {
      "files": ["*.lua"],
      "options": {
        "tabWidth": 1,
        "semi": true,
        "singleQuote": true
      }
    }
  ]
}
